.NavBar {
    background-color: #CCCCCC;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
}
  
.NavBtn {
    background-color: #D9D9D9;
    aspect-ratio: 1;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Active-Btn {
    background-color: #D5D5D5;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


@media only screen and (max-width: 1500px) {
    .NavBar {
        width: 340px;
        height: 90px;
        border-radius: 15px;
        bottom: 15px;
    }

    .NavBtn {
        width: 70px;
        aspect-ratio: 1;
        margin: 5px;
    }

    .Active-Btn > .BtnIcon {
        transform: translateY(4px);
        width: 70px;
        height: 70px;
    }
}

@media only screen and (min-width: 1500px) {
    .NavBar {
        width: 530px;
        height: 140px;
        padding: 5px;
        border-radius: 15px;
        bottom: 50px;
    }

    .NavBtn {
        width: 110px;
        aspect-ratio: 1;
        margin: 5px;
    }

    .Active-Btn > .BtnIcon {
        transform: translateY(4px);
        width: 110px;
        height: 110px;
    }
}